{
    "openapi": "3.0.0",
    "info": {
      "title": "API Documentation",
      "version": "1.0.0",
      "description": "This is the API documentation for the specified endpoints."
    },
    "servers": [
        {
          "url": "https://w3.land.gov.taipei/CA/"
        }
    ],
    "paths": {
      "/api/Inquiry/GetCustodyDetail": {
        "post": {
          "summary": "Get Custody Detail",
          "description": "Retrieves custody details.",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "custodyDetail": {
                        "type": "string",
                        "example": "Custody details here"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "Bad request error message"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/CsrfToken/GetCsrfToken": {
        "get": {
          "summary": "Get CSRF Token",
          "description": "Retrieves CSRF token.",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "csrfToken": {
                        "type": "string",
                        "example": "token_value"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "Bad request error message"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
